no.nav.security.jwt:
  issuer.azuread:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}
    cookie_name: azure_token
  issuer.selvbetjening:
    discoveryurl: https://login.microsoftonline.com/navnob2c.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten
    accepted_audience: ${ACCEPTEDAUDIENCE}
    cookie_name: selvbetjening-idtoken
  issuer.tokenx:
    discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
    accepted_audience: ${TOKEN_X_CLIENT_ID}
  client:
    registration:
      ba-sak-clientcredentials:
        resource-url: ${FAMILIE_BA_SAK_API_URL}
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${BA_SAK_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-secret: ${AZURE_APP_CLIENT_SECRET}
          client-auth-method: client_secret_basic
      integrasjoner-clientcredentials:
        resource-url: ${FAMILIE_INTEGRASJONER_API_URL}
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${FAMILIE_INTEGRASJONER_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-secret: ${AZURE_APP_CLIENT_SECRET}
          client-auth-method: client_secret_basic
      familie-ba-infotrygd-clientcredentials:
        resource-url: ${FAMILIE_BA_INFOTRYGD_API_URL}
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: api://prod-fss.teamfamilie.familie-ba-infotrygd/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-secret: ${AZURE_APP_CLIENT_SECRET}
          client-auth-method: client_secret_basic
      dokument-clientauth:
        resource-url: ${FAMILIE_DOKUMENT_API_URL}
        well-known-url: ${TOKEN_X_WELL_KNOWN_URL}
        grant-type: urn:ietf:params:oauth:grant-type:token-exchange
        token-exchange:
          audience: prod-gcp:teamfamilie:familie-dokument
        authentication:
          client-id: ${TOKEN_X_CLIENT_ID}
          client-auth-method: private_key_jwt
          client-jwk: ${TOKEN_X_PRIVATE_JWK}



spring:
  kafka:
    properties:
      bootstrap-servers: a01apvl00145.adeo.no:8443,a01apvl00146.adeo.no:8443,a01apvl00147.adeo.no:8443,a01apvl00148.adeo.no:8443,a01apvl00149.adeo.no:8443,a01apvl00150.adeo.no:8443
      schema.registry.url: http://kafka-schema-registry.tpa:8081
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/familie-baks-mottak
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

funksjonsbrytere:
  kafka.enabled: false

FØDSELSHENDELSE_VENT_PÅ_TPS_MINUTTER: 1440
FØDSELSHENDELSE_REKJØRINGSINTERVALL_MINUTTER: 180

JOURNALFOERINGHENDELSE_V1_TOPIC_AIVEN_URL: teamdokumenthandtering.aapen-dok-journalfoering
NORG2_API_URL: https://app.adeo.no/norg2/
FAMILIE_DOKUMENT_API_URL: http://familie-dokument/familie/dokument
FAMILIE_BA_DOKGEN_API_URL: http://familie-ba-dokgen
FAMILIE_BA_SAK_API_URL: http://familie-ba-sak/api