name: Pull request
on:
  workflow_dispatch:
  merge_group:
  pull_request:
    types: [ opened, synchronize, reopened ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  ktlint:
    name: Ktlint
    if: github.event_name != 'merge_group'
    permissions:
      contents: read
    uses: navikt/familie-baks-gha-workflows/.github/workflows/ktlint.yaml@main # ratchet:exclude
    secrets: inherit

  test:
    name: Test
    permissions:
      contents: read
    uses: navikt/familie-baks-gha-workflows/.github/workflows/pull-request-maven.yaml@main # ratchet:exclude
    with:
      with-coverage: ${{ github.actor != 'dependabot[bot]' && github.event_name != 'merge_group' && true || false }}
      coverage-artifact-name: 'jacoco-coverage'
      coverage-artifact-path: 'target/coverage/jacoco.xml'
    secrets: inherit

  sonar:
    name: Sonar
    if: github.event_name != 'merge_group'
    needs: [ test ]
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup java maven
        uses: navikt/familie-baks-gha-workflows/.github/actions/setup-java-maven@main # ratchet:exclude
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          java-version: '25'
      - name: Last ned coverage rapport
        uses: actions/download-artifact@v4
        with:
          name: 'jacoco-coverage'
          path: 'target/coverage/jacoco.xml'
      - name: Cache Sonar
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # ratchet:actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-sonar
      - name: Sonar
        env:
          MAVEN_OPTS: "-Xmx4g -Dmaven.artifact.threads=10"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_LOGIN }} # TODO: Burde skaffe SONAR_TOKEN
        run: |
          mvn sonar:sonar -Dsonar.coverage.jacoco.xmlReportPaths="target/coverage/jacoco.xml"